.card {
    background-color: rgb(36, 35, 35);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    width: 50rem;
    max-width: 90%;
}

.expenses {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expense-item {
    background-color: rgb(245, 245, 245, 0.5);
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: 10px;
    gap: 10px;
}

.expense-item__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    padding: 8px;
    width: 125px;
}

.month {
    font-weight: 700;
}

.year {
    font-size: 15px;
}

.day {
    font-size: 28px;
    font-weight: 700;
}

.expense-item__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.expense-item__price {
    background-color: blueviolet;
    color: white;
    padding: 15px;
    border: 2px solid white;
    border-radius: 10px;
    width: 120px;
    text-align: center;
}

.edit-btn {
    padding: 5px;
    border-radius: 5px;
    background-color: wheat;
    font-weight: 700;
}